<div id="page4">

    <h1>Logos</h1>
    <div class="col-sm-3">
        <img src="/img/poor.jpg" alt="Amazon Parody logo">

        <img src="/img/cracked.png" alt="Logo for a makeup blog.">


    </div>

    <h1>Concepts</h1>
        <div class="col-sm-3">
            <img src="/img/wireframe-blue-green.jpg" alt="Sample Concept for Keus.ca">

            <img src="/img/mapPage.jpg" alt="map page concept done for a group project at school.">

            <img src="" alt="">
        </div>


</div>
