<div id="page5">
    <h1>Finished Works</h1>

    <div class="col-sm-1 col-lg-3">
        <a href="http://www.keus.ca" class="col-sm-3 col-large-2">
            <img src="/img/Martin%20Keus%20Photography.png" alt="Screenshot of Martin Keus Photography">
        </a>
        <p>Site done as part of my co-op during school.</p>
    </div>

    <div class="col-sm-1 col-lg-3">
        <a href="" class="col-sm-3">
            <img src="/img/catDepot.png" alt="Screenshot of fictional site for school project">
        </a>
        <p>UI project done for a school based on a pre-existing logo on logopond.com</p>
    </div>

    <div class="col-sm-1 col-lg-3">
        <a href="" class="col-sm-3">
            <img src="" alt="">
        </a>
        <P>Mega Nav Assignment.</P>
    </div>




</div>