<div id="page2">
    <h1>Resume</h1>

    KATIE KRAMER
    Barrie, Ontario • (705) 279-5027 • KramerDesign@outlook.com
    Professional Summary
    <p>Client oriented individual with excellent interpersonal and communication skills. Consistently works to achieve perfection and be up to date with current technology.  Arrives with a high positive energy. Constantly learning, discovering and designing.</p>
    <h2>Skills</h2>
    <ul>
        <li>HTML5 and CSS</li>
        <li>MySQL</li>
        <li>Bootstrap</li>
        <li>Adobe Suite</li>
        <li>Strong sense of Design</li>
        <li>Experience working with the MEAN stack</li>
        <li>Familiar with PHP, Javascript, jQuery and ASP.NET</li>
    </ul>


    <h2>Related Industry Experience</h2>
    <h4>Mean Stack Intern 09/2015 to 01/2016</h4>
    <h4>Shine Web Creations - Wasaga Beach, Ontario</h4>
    <ul>
        <li>Trained on the MEAN stack</li>
        <li>Created an AngularJS website</li>
        <li>Set up servers on Digitalocean.com</li>
    </ul>


    <h4>Graphic Designer 09/2013 to 09/2015</h4>
    <h4>Weloveh Corporation - Wasaga Beach, Ontario</h4>
    <ul>
        <li>Created icons and logos for site</li>
        <li>Creation of infographics for website using Adobe Illustrator</li>
    </ul>

    <h4>Office Assistant 09/2010 to 08/2014</h4>
    <h4>Kramer Business Services - Wasaga Beach, Ontario</h4>
    <ul>
        <li>Provided administrative clerical support including web searching, spreadsheet creation and document recreation using the adobe suite.</li>
    </ul>


    <h2>Education</h2>
    <h4>Interactive Web Design and Development Co-op Program 2014-2016</h4>
    <p>Georgian College - Barrie, Ontario</p>

    <h4>Pre-Health Science 2013</h4>
    <p>Georgian College - Barrie, Ontario</p>

    <h4>Art Fundamentals, 2010</h4>
    <p>Sheridan College - Oakville, Ontario</p>

    <h4>Business General, 2009</h4>
    <p>Sheridan College – Oakville, Ontario</p>

    <h4>High School Diploma, 2008</h4>
    <p>Abbey Park High School - Oakville, Ontario - Highest mark in science and geography</p>

    <h2>Additional Work History</h2>
    <p>Team Member, 10/2011 to 05/2015, Tim Hortons – Wasaga Beach, Ontario
    <p>Server, 05/2010 to 07/2012, Swiss Chalet - Wasaga Beach, Ontario</p>
    <p>Sales Associate, 05/2009 to 08/2010, Michaels Arts and Crafts - Oakville, Ontario</p>
    <p>Seafood Clerk, 05/2008 to 11/2008, The Barn (Currently Metro) - Oakville, Ontario</p>

    <h2>Certificates</h2>
    <p>WorkSmart - Work Place Health and Safety	 --		2015</p>
    <p>Ontario Smart Serve Certificate		--			2011</p>

</div>